.mainEventsBlock{
    padding-bottom: 34px;
    background-color: #2E2A56;
}

.eventsBlock{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.eventsHeading {
    background-image: url('../../images-logos/background-about.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px 0 100px 0;
}

.eventsHeading h2 {
    margin: 0;
    font-size: 48px;
    text-align: center;
    color: #FFFFFF;
    font-weight: 600;
}

@media(max-width: 920px){
    .eventsHeading h2{
        font-size: 34px;
    }
}
